.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  box-shadow: 0 0 5px black;

  &__left-side {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__right-side {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
